//BHC development styles

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  transition: all .3s;
}

strong {
  font-weight: 600;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.tag:before {
  content: '#'
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.bordered-link {
  border-bottom: 1px solid;
  color: inherit;
}

.w100 {
  width: 100%;
}

.with-errors {
  color: #ff886d;
}

.times {
  font-size: 20px;
}

body * {
  outline-color: $accent;
}

.section {
  &-inner {
    padding: $padding-lg;
    margin-bottom: 2.5rem;
    box-shadow: $box-shadow;
    border-radius: $border-radius-lg;
    &-title {
      border-bottom: 1px solid #cad1d7;
      margin-bottom: 1.75rem;
    }
  }
}

.mb-large {
  margin-bottom: 2.5rem;
}

.modal.show .modal-dialog {
  position: relative;
  z-index: 9999;

}
.modal-backdrop {
  z-index: auto;
}


//Navbar

.navbar-menu {
  &-btn {
    color: #fff;
    font-size: 20px;
  }
}

.navbar-container {
  min-width: 1400px;
}

#searchToggler {
  position: relative;
  right: 25px;
  display: none;
}

// Mmenu

.main-menu a {
  color: $main;
}
.main-menu a:hover {
  color: $accent;
}

.mm-slideout {
  z-index: auto;
}

.mm-listitem {
  border-color: $main-max-light;
  &:hover {
    background-color: $main-max-light;
  }
}

.mm-menu a, .mm-menu a:link,
.mm-menu a:visited {
  color: $main;
  font-size: 1.25rem;
}

.mm-panels > .mm-panel > .mm-listview:first-child,
.mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin-top: 20px;
}

.mm-panel:not(.mm-hidden) {
  background-color: #fff;
}

.mm-listview > li > a,
.mm-listview > li > span {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mm-panel_has-navbar .mm-navbar {
  display: none;
}

/*===== MAIN SEARCH SECTION =====*/

.main-title,
.main-subtitle {
  margin-bottom: 2.5rem;
  color: #fff;
}

.section-top {
  padding-bottom: 1.25rem;
  background-color: $main;
  background-image: url(../img/cyr-bg-line.png);
  background-position: center top;
  background-repeat: no-repeat;
  box-shadow: 0px 6px 20px rgba(49, 49, 49, .6);
}

.main-search {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.tags {
  background-color: $main;
  background-image: url(../img/cyr-bg-line-reverse.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
  outline-color: $accent;
  &-wrapper {
    margin-bottom: 1.25rem;
  }
  &-item {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: $padding-sm;
    padding-right: $padding-sm;
    background-color: $main-light;
    margin-bottom: .75rem;
    text-transform: none;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 4px 12px rgba(50, 50, 93, .2), 0 1px 12px rgba(0, 0, 0, .08);
    &:focus {
      outline: 1px solid $accent !important;
    }
  }
  &-all {
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
  }
  &-list-title {
    color: #fff;
    font-size: 1.25rem;
  }
}


.section-triangle {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: .25rem;
  background-color: $main-max-light;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

/*=====SERVICES-SECTION=====*/

.section-services {
  background-color: $main-max-light;
}

.services {
  &-box {
    margin-bottom: 20px;

  }
  &-link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    min-height: 200px;
    padding-top: $padding-md;
    padding-right: $padding-md;
    padding-left: $padding-md;
    padding-bottom: $padding-sm;
    background-color: #fff;
    box-shadow: $btn-box-shadow;
    border-radius: $border-radius;
    &:hover {
      @include box-shadow($btn-hover-box-shadow);
      transform: translateY(-1px);
    }
    img {
      display: block;
      max-width: 83px;
      max-height: 90px;
      margin: 0 auto;
    }
    h5 {
      padding-top: $padding-sm;
      text-align: center;
      color: $main;
      line-height: 1.3;
    }
  }
}

/*======SUPPORT SECTION=====*/

.section-support {
  background-color: #f5f5f5;
}

.support {
  &-title {
    color: #193557;
    font-weight: 600;
  }
  &-logo {
    img {
      max-width: 300px;
      margin: 0px auto 20px;
    }
  }

}

.tooltip-inner {
  max-width: 400px;
  /* If max-width does not work, try using width instead */
  width: 400x;
  text-align: left;
}


/*===== FOOTER =====*/

.footer {
  color: #d7d7d7;
  &-devs {
    text-align: right;
  }
}



@media (max-width: 1460px) {
  .navbar-container {
    min-width: auto;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  .lead {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    &-inner {
      box-shadow: none;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
  .tags-item {
    margin-right: .2rem !important;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .mb-large {
     margin-bottom: 1.5rem;
   }
  .main-search {
    padding-top: 6rem;
  }
  .tags {
    padding-bottom: 2rem;
  }
  .tags-all {
    padding: 0 0 10px 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }
  div.tags-all:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  .footer {
    text-align: center;
    &-devs {
      text-align: center;
    }
  }
}