/*========OFFER PAGE========*/

.offer {
  &-wrapper {

  }
  &-form {
    padding: $padding-md;
    background-color: $main-max-light;
    border-radius: $border-radius;
    textarea {
      height: 234px;
    }
    label[for=confPolitix] p {
      font-size: .8rem;
    }
  }
}

.upload-wrapper {
  position: relative;
  border: 1px dashed rgba(136, 152, 170, .3);
  border-radius: $border-radius;
  padding-right: 0.75rem;
  margin-bottom: 1rem;
}

#file-upload {
  position: absolute;
  left: -9999px;
}
input#file-upload:focus + span {
  outline: 1px solid $accent;
}

label[for="file-upload"]{
  display: inline-block;
  height: 100%;
  margin-bottom: 0;
  padding: .75rem;
  font-weight: 600;
  cursor: pointer;
  color: #adb5bd;
  background-color: #fff;
  transition: .3s ease-out;
  border-radius: $border-radius;
  &:hover {
    color: $accent;
  }
  & > span {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

#filename {
  padding: 0.5em;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  background: transparent;
}

/*======== ABOUT PAGE ========*/

.about {
  &-wrapper {

  }
}


/*======== INSTRUCTION PAGE ========*/

.instruction {
  &-wrapper {

  }
}

/*======== 404 PAGE ========*/


#oopss {
  min-height: 74vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#error-text {
  top: 30%;
  position: relative;
  font-size: 40px;
  color: $main;
}

#error-text a {
  color: #fff;
}

#error-text a:hover {
  color: #fff;
}

#error-text p {
  color: $main;
  margin: 70px 0 0 0;
}

#error-text i {
  margin-left: 10px;
}

#error-text p.hmpg {
  margin: 40px 0 0 0;
}

#error-text span {
  position: relative;
  background: $main;
  color: #fff;
  font-size: 300%;
  padding: 0 20px;
  border-radius: 5px;
  font-weight: bolder;
  transition: all .5s;
  cursor: pointer;
  margin: 0 0 40px 0;
  box-shadow: $box-shadow;
}

#error-text span:hover {
  background: $accent;
  color: #fff;
  -webkit-animation: jelly .5s;
  -moz-animation: jelly .5s;
  -ms-animation: jelly .5s;
  -o-animation: jelly .5s;
  animation: jelly .5s;
}


@-webkit-keyframes jelly {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(.9, 1.1);
    transform: scale(.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, .9);
    transform: scale(1.1, .9);
  }
  75% {
    -webkit-transform: scale(.95, 1.05);
    transform: scale(.95, 1.05);
  }
}

@keyframes jelly {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(.9, 1.1);
    transform: scale(.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, .9);
    transform: scale(1.1, .9);
  }
  75% {
    -webkit-transform: scale(.95, 1.05);
    transform: scale(.95, 1.05);
  }
}
/* CSS Error Page Responsive */

@media only screen and (max-width:640px) {
  #error-text span {
    font-size: 200%;
  }
  #error-text a:hover {
    color: #fff;
  }
}

.back:active {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  transform: scale(0.95);
  background: #f53b3b;
  color: #fff;
}

.back:hover {
  background: #4c4c4c;
  color: #fff;
}

.back {
  text-decoration: none;
  background: #5b5a5a;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s ease-out;
}


/*======== MEDIA ========*/

@media (max-width: 768px) {
  .offer-form {
    textarea {
      height: 100px;
    }
  }
}