/* ===== DOCUMENT ===== */

.article {
  &-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  &-header {
    .category-name {
      display: block;
      font-size: 1.25rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      margin-bottom: .75rem;
    }
    .document-name {
      font-size: 1.5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
  &-table-header {
    position: relative;
    font-weight: 600;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    background-color: $main-light;
    color: #fff;
    box-shadow: $box-shadow;
  }
}

.search-goal,
.active-item {
  background-color: #f5f8af !important;
}

// LIBRARY

.library {
  &-menu-wrapper {
    padding-left: $padding-md;
    padding-right: $padding-md;
  }
  &-article {
    &-header {
      .category-name {
        display: block;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: .75rem;
      }
      .document-name {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
  &-documents-list {
    li {
      margin-bottom: .75rem;
    }
  }
}

.article {
  &-list {
    padding-left: 0;
    &-item {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      list-style: none;
      padding-top: 1.25rem;
      padding-bottom: 0.25rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      &:nth-child(even) {
        background-color: $main-max-light;
      }
    }
  }
}

.library-documents-list {
  a {
    color: inherit;
    &:hover {
      color: $accent;
    }
  }
}

// Accordion menu

.library-menu {
  list-style: none;
  width: 100%;
  //max-width: 350px;
  border-radius: 4px;
  padding-left: 0;
  &-title {
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 1.5rem;
  }
}

.library-menu li.open .dropdownlink {
  color: inherit;
  .demo-icon {
    transform: rotate(180deg);
  }
}

.library-menu li:last-child .dropdownlink {
  border-bottom: 0;
}

.dropdownlink {
  cursor: pointer;
  display: block;
  padding-left: 1.5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 18px;
  border-bottom: 1px solid #cad1d7;
  color: inherit;
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease-out;
  i {
    position: absolute;
    left: 0;
    top: 1.25rem;
    font-size: 14px;
    opacity: .7;
  }
}

.submenuItems {
  display: none;
  padding-left: 1.25rem;
  li {
    border-bottom: 1px solid #cad1d7;
    list-style: none;
  }
}

.submenuItems a {
  display: block;
  color: inherit;
  transition: all 0.4s ease-out;
  padding-left: .75rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  &:hover {
    background-color: $main-max-light;
  }
}

@media (max-width: 768px) {

  .library-menu-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .article-wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }
  .article-table-header {
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
  .article-list-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .library-article-header .document-name,
  .library-article-header .category-name {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}