/* ===== MAIN SEARCH MODULE ===== */

.main-search {
  &-input {
    position: relative;
    padding: 1rem;
    background-color: $main-light;
    border-radius: 0px $border-radius $border-radius $border-radius;
    margin-bottom: 20px;
    &:before {
      position: absolute;
      left: 30px;
      bottom: 50%;
      transform: translateY(50%);
      color: $main;
      font-size: 20px;
      font-family: 'fontello';
    }
    input {
      padding-left: 50px;
    }

  }
}

div.tagsinput {
  border-radius: $border-radius;
  padding-left: 50px;
}

div.tagsinput input {
  margin: 2px 0;
  width: auto !important;
}

div.tagsinput span.tag {
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
  border-radius: $border-radius-sm;
  padding: 7px 9px;
  border: none;
  background: $main-light;
  color: #fff;
}

div.tagsinput span.tag a {
  color: #fff;
  font-size: 14px;
  &:hover {
    color: $accent;
    opacity: .7;
    cursor: pointer;
  }
}

.full-search-panel {
  .main-search-input {
    border-radius: $border-radius
  }
}

.tags-input:before {
  content: '\f292';
  z-index: 2;
}

.tags-input2:before {
  content: '\e807';
  z-index: 2;
}

.text-input:before {
  content: '\e806';

}

.tags--removeAllBtn {
  position: absolute;
  right: 15px;
  top: 50%;
  height: calc(100% - 2.1rem);
  transform: translateY(-50%);
  border: 0;
  color: #d7d7d7;
  line-height: 20px;
  background-color: #f7f7f7;
  border-left: 1px solid #d7d7d7;
  padding: .625rem;
  border-radius: 0 3px 3px 0;
  z-index: 2;
  &:hover {
    cursor: pointer;
    box-shadow: $box-shadow-sm;
  }
}

.link-switcher {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  transition: all .3s;
  margin-bottom: 1.5rem;
  z-index: 1;
}

.search-submit-1 {
  z-index: 1;
}
.search-submit-1:focus {
  outline: 4px solid #fff;
}

// Search tabs

.search-nav-tabs {
  .nav-link {
    width: 100%;
    font-size: 16px;
    color: rgba(255, 255, 255, .7);
    background-color: $main-dark;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .nav-item {
    width: 200px;
    text-align: center;
    .active {
      background-color: $main-light;
      color: #fff;
    }
  }
  .left-tab {
    border-radius: $border-radius 0 0 0;
  }
  .right-tab {
    border-radius: 0 $border-radius 0 0;
  }
}

// Floationg search

.floating-container {
  display: none;
  position: absolute;
  left: 50%;
  top: -300px;
  transform: translateX(-50%);
  background-color: $main;
  padding: 30px;
  z-index: 999;
  max-width: 900px;
  border-radius: $border-radius;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .3);
  transition: .6s;
}

.floating-container-open {
  position: fixed;
  top: 83px;
}

/* Close button */
.close-modal {
  position: absolute;
  top: -8px;
  right: 0;
  font-size: 28px;
  color: rgba(255,255,255,.5);
  padding: .5rem 1rem;
  transition: all .3s;
  &:hover {
    color: #fff;
    cursor: pointer;
  }
}



@media ( max-width: 992px ) {



}

@media ( max-width: 768px ) {

  .search-submit-1 {
    width: 100%;
  }

  .main-search {
    &-input {
      input {
        padding-left: .75rem;
      }
    }
    &-input:before {
      content: '';
    }
  }
  .search-nav-tabs {
    .nav-item {
      width: 50%;
    }
  }
  div.tagsinput {
    padding-left: .25rem;
    padding-right: .25rem;
  }
  .tags--removeAllBtn {
    display: none;
  }

}