/* ===== SEARCH RESULTS ===== */

.section-result-stat {
  position: relative;
  padding-top: $padding-lg;
  padding-bottom: $padding-lg;
  box-shadow: $box-shadow;
  background-color: #fff
}

.result-stat {
  &-lead {
    span {
      color: $main;
      font-weight: 600;
    }
  }
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: $border-radius;
    background-color: $main-max-light;
  }
  &-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: $padding-md;
    padding-right: $padding-md;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid #fff;
    &:last-child {
      border-bottom: 0
    }
    p {
      margin-bottom: 0;
    }
    p:last-child {
      font-weight: 600;
      text-align: center;
      padding-left: 1.5rem;
    }
  }
}

.remove-item {
  margin-left: 10px;
  border: 0;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 17px;
  transition: all .3s;
  color: $main;
  &:hover {
    color: #b14546;
    cursor: pointer;
    background-color: #b145468a;
  }
}
.disabled-category {
  color: #555 !important;
  opacity: .3;
}

.result {
  &-wrapper {
    padding-left: $padding-lg;
    padding-right: $padding-lg;
    .more-btn {
      display: block;
      margin: 0 auto;
      min-width: 180px;
      margin-bottom: 2.5rem;
      margin-top: 2.5rem;
    }
  }
  &-list {
    counter-reset: css_counter;
    padding-left: $padding-lg;
  }
  &-item {
    position: relative;
    margin-bottom: 1.25rem;
    border-radius: $border-radius;
    background-color: $main-max-light;
    list-style: none;
    &:before {
      content: counter(css_counter);
      position: absolute;
      top: .75rem;
      left: -2.5rem;
      counter-increment: css_counter;
      font-weight: 600;
      font-size: 1.25rem;
      color: $main;
    }
    &-part {
      border-bottom: 2px solid #fff;
      padding: $padding-sm $padding-md;
    }
    &-part:last-child {
      border-bottom: none;
    }
    &-cat,
    &-doc {
      display: flex;
      align-items: center;
      color: $main;
      flex-wrap: wrap;
      span {
        width: 100px;
      }
    }
    &-tags {
      color: $main;
    }
  }
  &-text-link {
    color: #333;
    &:after {
      content: '...>>';
      color: $main;
    }
  }
}

.category-name {
  font-size: 1rem;
  font-weight: 600;
  color: $main;
}

.document-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: $main;
}

.more-link {
  color: $main;
}

.more-results {
  display: none;
}


@media (max-width: 768px) {
  .result {
    &-wrapper {
      padding-left: 0;
      padding-right: 0;
      .more-btn {
        min-width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }
  .section-result-stat {

  }
  .result-item sup {
    display: none;
  }
  .result-item .document-name {
    margin-bottom: 0;
  }
  .result-item-part,
  .result-stat-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}